DISCORD_TOKEN=YOUR_DISCORD_TOKEN_HERE
TRIGGER_CHANNEL_ID=1397012677347250309
CATEGORY_ID=1397011991654170795
CHANNEL_NAME=🔊 Canal de {user}
USER_LIMIT=0
DASHBOARD_URL=http://localhost:3000/
DATABASE_URL=postgresql://USER:PASSWORD@HOST/DATABASE?sslmode=require