DISCORD_TOKEN=MTQ5MDE3ODgxNDI2MzgyNDQ1NQ.GsUP8o.quzRtt1L1Yueq-gKdmHeSOuEoAYkK9qoUm9VK4
TRIGGER_CHANNEL_ID=1397012677347250309
CATEGORY_ID=1397011991654170795
CHANNEL_NAME=🔊 Canal de {user}
USER_LIMIT=0
DASHBOARD_URL=http://your-ip-here:3000
DATABASE_URL=postgresql://user:password@host:port/database?sslmode=require
